<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI-Based Sign Language Processing System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- Homepage -->
    <div class="homepage">
        <h1>AI-Based Sign Language Processing System</h1>
        <img src="{{ url_for('static', filename='yahi.png') }}" alt="Sign Language Image"> <!-- Add your image here -->
        <a href="/main" id="startButton">Go to Application</a>
    </div>
</body>
</html>
